/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes - Design by Nguyễn Tùng
Author URI: https://www.facebook.com/Tung.teen.9x
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}
:root {
  --primary-color:#d93;
}
.searchform {
    /*box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);*/
}
.searchform .search-field{
    height: 40px;
    border-radius: 4px 0px 0px 4px;
    /*border:0px;*/
}
.search-group-btn{
    margin-left: -12px;
}
.header-search-form .searchform .ux-search-submit{
    width: 50px;
    height: 40px;
    border-radius: 0px 4px 4px 0px;
}

header .hotline {
    width: 150px;
    float: left;
    padding: 14px 0;
}
header  .hotline .hotline-icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    background-color: #a90019;
    float: left;
    margin-right: 4px;
}
header  .hotline .hotline-content {
    padding-left: 35px;
}
header  .hotline a {
    font-size: 15px;
    color: #000;
    line-height: 1.1;
    font-weight: 500;
}
header  .hotline span {
    display: block;
    font-size: 12px;
    font-weight: 300;
    color: #000;
    line-height: 1.1;
}
.searchform .search-field{
    box-shadow: none !important
}
.searchform .ux-search-submit i{
    font-size: 13px !important;
    color: #FFF;
}
.searchform .button.icon{
    border:0px;
}
#mega-menu-wrap{
    background: #db2126;
}

.header:not(.transparent) .header-bottom-nav.nav > li > a{
    color: #333;
    padding: 0px 15px;
}
.header:not(.transparent) .header-bottom-nav.nav > li > a:hover,.header:not(.transparent) .header-bottom-nav.nav > li.current-menu-item > a{
    background-color: #8cc33f;
}

#wide-nav>.flex-row>.flex-left{
    margin-right: 0px
}
#mega-menu-title{
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
}
.header-main .nav > li > a {
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.header-main .nav > li > a  i {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    background-color: #a90019;
    float: left;
    margin-right: 4px;
}
.header-main .nav > li > a i:after{
color: #000 !important;
    background: #ffe300  !important;
}
#top-bar .nav li a{
    color: #fff;
    opacity: 1
}
#top-bar .nav li a span{
        color: #ffe300;
}
#mega-menu-wrap #mega_menu li img{
    max-width: 22px;
    margin-right: 5px;
    /*-webkit-filter: grayscale(1) invert(1);*/
    /*filter: grayscale(1) invert(1);*/
    padding: 0px;
}
#mega_menu>li{
}
#mega_menu>li>a{
    position: relative;
    display: block;
    color: #000;
    line-height: 20px;
    padding: 5.7px 10px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    border:0px;
}
#mega_menu>li>a:hover{
    color: #fff;
    background: #c3001d;
}
#mega-menu-wrap #mega_menu li a:hover img{
    -webkit-filter: grayscale(0) invert(0);
    filter: grayscale(0) invert(0);
}
#mega_menu>li{
    background: none
}
#mega_menu{
    width: 100%;
    min-height: 410px;
    background: rgba(255,255,255,0.9);
    overflow: visible;
    box-shadow: 2px 0 4px 0 rgba(0,0,0,0.2);
    border: 1px solid #dc0021;
    border-top: none;
}
#wide-nav>.flex-row>.flex-left{
    min-width: 280px
}
.nav-dropdown-default .nav-column li>a, .nav-dropdown.nav-dropdown-default>li>a{
    font-size: 14px;
    border:0px;
    padding: 7px 0px;
     color: #333
}
.nav-dropdown .nav-dropdown-col .menu-item-has-children .menu-item-mega>a{
    text-transform: uppercase;
    font-size: 14px;
    border: 0px;
    padding: 7px 0px;
    margin: 0 10px;
    margin: 0 10px;
    font-weight: bolder;
    color: #dc0021 !important;
    border-bottom: 1px solid #ddd !important;
    margin-bottom: 7px !important;
    display: block;
}
.nav-dropdown .menu-item-has-children>a, .nav-dropdown .title>a, .nav-dropdown .nav-dropdown-col>a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
    color: #dc0021 !important;
    border-bottom: 1px solid #ddd !important;
   margin-bottom: 7px !important
}
.nav-dropdown-default .nav-column li>a:hover, .nav-dropdown.nav-dropdown-default>li>a:hover{
    color: #dc0021 !important;
}
.san-deal .san-deal-title > .col-inner{
    position: relative;
    background-image: url(images/sport_titlee0ff.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 600px;
    height: 40px
}

 .san-deal .san-deal-title > .col-inner a {
    color: #fff;
    font-size: 20px;
    padding: 0px 0 1px 15px;
    display: inline-block;
    font-weight: 400;
     text-transform: uppercase;
}
.san-deal .sanpham  > .col-inner {
    border: 3px solid #ed1c24;
    background-color: #fff;
    overflow: hidden;
    padding: 20px
}
.san-deal .san-deal-title {
    padding-bottom: 0px
}
.deal-chop-nhoang .sanpham > .col-inner {
    border-radius: 3px;
    border: 1px solid #ecf2f4;
    background-color: #fff;
    border-bottom: 2px solid #dc0021;
    overflow: hidden;

}
.deal-chop-nhoang .sanpham > .col-inner > .slider{
    padding: 20px
}

.ux-timer span strong{
    display: none !important;
}
.ux-timer span{
    height: 35px;
    padding: 0px !important;
    line-height: 35px !important;
    border-radius: 0px  !important
}
.deal-chop-nhoang .tieude  p{
    margin-bottom: 0px
}
.deal-chop-nhoang  .tieude{
    border-bottom: 2px solid #f2f2f2;
    padding: 10px 10px 0px 10px;
    position: relative;
}
.tieude h2{
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0px;
    margin-top: 0;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 10px;
    float: left;
}
.deal-chop-nhoang .tieude:before{
    height: 2px;
    width: 100px;
    background: #dc0021;
    display: block;
    content: "";
    position: absolute;
    bottom: -2px
}
footer .widget .is-divider{
    margin-bottom: 0px
}

.list-inline li {
    float: left;
    margin: 0;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
footer .list-menu li {
    color: #333;
}
footer   ul li.twitter a{background-color:#1da1f2}footer   ul li.facebook a{background-color:#3b5998}footer   ul li.pinterest a{background-color:#bd081c}footer   ul li.google a{background-color:#dd4b39}footer   ul li.instagram a{background-color:#1e88e5}footer   ul li.youtube a{background-color:#ff0000}

footer ul.list-menu li a {
    display: block;
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
footer{
    font-size: 14px
}
footer ul>li>a{
    font-size: 14px;

}
footer ul>li{
  border:0px !important;
}
.archive  .shop-container{
padding:20px;
    border-radius: 2px;
    background: #fff
}
#shop-sidebar aside{
    padding:10px;
    border-radius: 2px;
    background: #fff
}


.san-pham-danh-muc  .sanpham  > .col-inner {
    background-color: #fff;
    overflow: hidden;
    padding:0px 20px
}


.san-pham-danh-muc .tieude h2 a{
    border-top: 3px solid #db2126;
    margin: 0;
    padding: 10px 0 10px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
}
.san-pham-danh-muc .tieude ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
    line-height: 35px;
    font-size: 13px;
}
.san-pham-danh-muc .tieude ul{
    text-align: right;
	margin-bottom:0px
}

.badge-inner.on-sale{
    border-radius: 100%
}
.product-small .badge-inner.secondary.on-sale{
    background-color: #db2126;
    font-size: 12px;
    /* width: 20px; */
    padding: 5px;
    border-radius: 3px;
}
.product-small .badge-inner.secondary.on-sale span{
        font-size: 11px;
}
.product-small .badge-container{
    margin: 0px;
    right: 0px;
    left: auto;
}

.product-small .price-wrapper .price del span.amount,.product-small .price-wrapper .price del {
    color: #5f5f5f;
    font-size: 12px;
    display: block;
    line-height: 23px
}
.product-small .price-wrapper .price ins span.amount {
    color: #db2126;
    font-weight: 600;
    font-size: 14px;
     line-height: 23px
}
.name.product-title a{
    color: #000;
    font-weight: 500;
}
.name.product-title{
    margin-bottom: 10px
}

.product-small .badge-container .badge{
    height: 30px
}

.product-small .badge-container {
    margin: 0px;
    right: 10px;
    left: auto;
    bottom: 35px;
    top: auto;
}
.product-small .badge-container .badge {
    height: 20px;
    width: auto;
}
.star-rating{
    font-size: 12px
}


.yith-wcan-list li a{
    font-size: 13px;
    font-weight: 400;
}

.yith-wcan-list li{
    border:0px !important;
}
.yith-wcan-list li a:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f096";
    margin-right: 10px;
    color: #7d7d7d
}
.yith-wcan-list li.chosen a:before{
    content: "\f046" !important;
}
ul.yith-wcan-list{
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    display: block;
    border: 1px solid #eee;
    padding: 6px 10px;
    max-height: 140px;
    margin: 7px 0 4px;
    scrollbar-width: thin;
}

.widget .is-divider{
    display: none;
}
.widget h3.widget-title,.widget  span.widget-title{
    text-transform: uppercase !important;
    font-size: 14px
}
.product-categories li a{
    font-size: 14px
}
.shop-page-title.category-page-title{
    background: #fff;
    padding-bottom: 20px
}
.single .page-title-inner{
    padding-top: 0px
}

ins span.amount {
    white-space: nowrap;
    color: #dc0021;
    font-weight: bold;
}
.product-info h1.product-title{
    font-size: 22px;
    font-weight: 500;
}
.product-short-description{
    font-size: 15px
}

.product-info .sticky-add-to-cart--active .price-wrapper{
    padding: 0px;
    background: none;

}
.product-page-sections .product-section{
    padding: 15px;
    margin-bottom: 15px
}
.mt-wh{
    background: rgba(0,0,0,.02);
    color: rgba(0,0,0,.87);
    font-size: 1.125rem;
    padding: .875rem;
    text-transform: capitalize;
    font-weight: 300;
    text-transform: uppercase;
}

.product-page-sections .product-section{
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    padding-bottom: 15px;
    padding-top: 15px
}
.related.related-products-wrapper{
    background: #fff;
    padding: 0px 20px;
    margin-bottom: 20px;
}
.product-main{
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    padding:  15px;
    margin-bottom: 20px
}
.woocommerce-info{
        color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
        padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.nav-box>li.active>a, .nav-pills>li.active>a {
    opacity: 1;
    color: #000 !important;
    background-color: #7fc142 !important;
}
#secondary{
    background: #fff;
    padding: 10px;
    border-radius: 3px
}
.bg-wh-a{
    background: #fff;
    padding: 10px !important;
    border-radius: 3px
}
.single article{
    background: #fff;
    padding: 10px !important;
    border-radius: 3px
}
.single .is-divider{
    display: none;
}
.widget ul.menu li a{
    font-size: 13px
}
.widget .badge{
    width: 70px;
    height: 55px
}
.recent-blog-posts a{
        font-size: 12px;
    line-height: 18px;
}
.list-no-img .box-image{
    display: none;
}
.list-no-img  .box-text.text-left{
    padding: 0px
}
.box-blog-post .is-divider{
    display: none;
}
.list-no-img  .box-text.text-left .post-title{
    color: #575454;
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px
}
.list-no-img  .box-text.text-left .post-title:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    margin-right: 10px;
}
h1, h2, h3, h4, h5, h6, .heading-font, .banner h1, .banner h2 {

}
.list-no-img  .box-vertical .box-text ,.list-no-img .box-vertical{
    display: block;
}
.doitac .bg-wh{
    background: #fff;
    padding: 10px;
    margin-bottom: 20px
}

.slider-nav-light .flickity-prev-next-button{
    height: 51px;
    width: 32px;
    border: 1px solid #f1f5f6;
    border-radius: 4px;
    background-color: #fff !important;
    box-shadow: 0 7px 10px 0 rgba(72,139,216,0.2);
    text-align: center;
    line-height: 51px;
    transform: translate(0, -50%);
    color: #878fa0;
    font-size: 20px;
}
.slider-nav-light .flickity-prev-next-button svg, .slider-nav-light .flickity-prev-next-button .arrow {
    fill: #1f1f1f;
    border: 0px;
    font-size: 13px
}
.slider-nav-push:not(.slider-nav-reveal) .flickity-prev-next-button{
    margin-top: 0px
}
.doitac p{
	margin-bottom:0px
}
@media(max-width:768px){
	.searchform .button.icon{
		    background-color: #ffffff !important;
	}
	#wide-nav{
		    background-color: #dc0021;
	}
}
