.bravo_wrap {
    //Blocks
    .bravo-header-title{
        font-size: 16px;
        color: #666666;
        text-align: center;
        margin-bottom: 32px;
    }
    .bravo-sub-title{
        font-size: 30px;
        text-align: center;
        margin-bottom: 100px;
    }
    .bravo_callAaction{
        padding: 165px 0;
        h2{
            margin-bottom: 60px;
        }
    }
    .bravo_whySellOnMartfury{
        padding: 110px 0;
        .box-wrapper{
            .box-title{
                border: none;
                text-align: center;
                padding: 0;
            }
        }
    }
    .bravo_HowItWorks{
        background: #f6f6f6!important;
        padding: 110px 0 55px;
        .martfury-process{
            .desc{
                ul{
                    font-size: 16px;
                    letter-spacing: -.5px;
                    list-style: none;
                    padding-left: 0;
                    margin: 0;
                    li{
                        position: relative;
                        padding-left: 20px;
                        padding-bottom: 10px;
                        &:before{
                            content: '';
                            width: 5px;
                            height: 5px;
                            position: absolute;
                            left: 0;
                            top: 10px;
                            background-color: #666;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
    .bravo_BestFeesToStart{
        padding: 110px 0 55px;
        .bravo-sub-title{
            margin-bottom: 60px;
        }
        .bravo-sub-content{
            font-size: 18px;
            letter-spacing: -1px;
            margin-bottom: 65px;
        }
        .bravo-item-list{
            margin-bottom: 65px;
        }
        .title_list{
            margin-bottom: 50px;
        }
        .title-list-content{
            margin-bottom: 55px;
            ul{
                font-size: 16px;
                letter-spacing: -.5px;
                list-style: none;
                padding-left: 0;
                margin: 0;
                li{
                    position: relative;
                    padding-left: 20px;
                    padding-bottom: 10px;
                    margin-bottom: 7px;
                    &:before{
                        content: '';
                        width: 5px;
                        height: 5px;
                        position: absolute;
                        left: 0;
                        top: 10px;
                        background-color: #666;
                        border-radius: 50%;
                    }
                }
            }
        }
        .payment-box{
            padding-top: 45px!important;
            padding-right: 45px!important;
            padding-bottom: 45px!important;
            background-color: #f6f6f6!important;
            margin-bottom: 50px;
            .mf-single-content{
                font-size: 16px;
                color: #000;
                font-weight: 500;
            }
            .title-footer{
                p{
                    margin: 0;
                }
            }
        }
    }
    .bravo_SellerStories{
        background: #f6f6f6!important;
        padding: 110px 0 105px;
        .martfury-testimonial-slides{
            .testimonial-list{
                .slick-list{
                    .slick-slide{
                        margin: 0 15px;
                    }
                }
            }
        }
    }
    .bravo_FrequentlyAskedQuestions{
        padding: 110px 0 55px;
        .bravo-content-list{
            .bravo-content-title{
                font-size: 22px;
                text-align: left;
                margin-bottom: 23px;
            }
            .bravo-content{
                margin-bottom: 55px;
            }
        }
        .break_line{
            margin-top: 55px;
            margin-bottom: 0;
            border: 1px solid #ebebeb;
        }
        .contact-us{
            padding: 85px 0 100px;
            .contact-title{
                font-size: 30px;
                text-align: center;
                margin-bottom: 55px;
            }
        }
    }
    .bravo_BannerHome1{
        margin-top: 30px;
        margin-bottom: -6px;
        .bravo-home-sliders{
            img{
                width: 100%;
            }
            .slick-arrow{
                z-index: 1;
                background-color: rgba( 0,0,0,0.3 );
                min-width: 48px;
                min-height: 48px;
                transition: 0.5s;
                border: none;
                color: white;
                &:focus{
                    outline: none;
                }
                &:hover{
                    background: #000;
                }
                i{
                    font-size: 16px;
                }
                &.slick-next{
                    right: 0;
                }
            }
            .slick-dots{
                display: none!important;
            }
        }
        .banner-big{
            @media (max-width: 1199px){
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 30px;
            }
        }
        .banner-small{
            @media (max-width: 1199px){
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                .row{
                    .col-md-12{
                        -ms-flex: 0 0 50%;
                        flex: 0 0 50%;
                        max-width: 50%;
                        margin: 0!important;
                        @media (max-width: 767px){
                            -ms-flex: 0 0 100%;
                            flex: 0 0 100%;
                            max-width: 100%;
                            &:first-child{
                                margin-bottom: 30px!important;
                            }
                        }
                        .mf-banner-small{
                            .b-image{
                                text-align: right;
                                img{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
            .col-md-12{
                &:not(:last-child){
                    margin-bottom: 30px;
                }
                &:first-child{
                    .mf-banner-small{
                        .box-price{
                            top: 15px;
                            left: 46%;
                            transform: translateX(-50%);
                        }
                    }
                }
                .mf-banner-small{
                    .banner-content{
                        .box-title{
                            border-bottom: none;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
    .bravo_HomeFee{
        margin-top: 30px;
        .martfury-icon-box{
            .box-title{
                border: none;
                padding: 0;
            }
        }
    }
    .bravo_Promotion{
        margin-bottom: 80px;
        @media (max-width: 1199px){
            .col-lg-4{
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                &:not(:last-child){
                    .mf-banner-medium{
                        margin-bottom: 30px;
                    }
                }
            }
            .col-md-8{
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                .mf-banner-large{
                    margin-bottom: 30px;
                }
            }
            .col-md-4{
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                .mf-banner-medium{

                }
            }
        }
        @media (max-width: 991px){
            .col-lg-4{
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                &:not(:last-child){
                    .mf-banner-medium{
                        margin-bottom: 30px;
                    }
                }
            }
            .col-md-6{
                &:not(:last-child){
                    .mf-banner-medium{
                        margin-bottom: 30px;
                    }
                }
            }
        }
        @media (max-width: 767px){
            .col-md-4{
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        @media (max-width: 575px){
            .col-banner-content{
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        .mf-banner-medium{
            .banner-content{
                .s-content{
                    .desc{
                        .price{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .bravo-promotion-style-1{
        margin-bottom: 20px;
        @media (max-width: 991px) {
            margin-bottom: 0;
        }
        .mf-banner-medium{
            @media (max-width: 991px) {
                margin-bottom: 30px;
            }
            .banner-content{
                padding: 20px;
                .s-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    height: 100%;
                    .title{
                        font-weight: 400;
                        line-height: 1em;
                    }
                    .desc-content{
                        line-height: 1.2em;
                    }
                    .banner-price{
                        display: block;
                        top: 29%;
                        left: 58%;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        overflow: hidden;
                        background-color: #f14705;
                        color: #fff;
                        text-align: center;
                        line-height: 1;
                        &.bottom{
                            top: 62%;
                            left: 48%;
                        }
                        .s-price{
                            font-weight: 600;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            right: 0;
                            transform: translateY(-50%);
                            text-align: center;
                            line-height: 1;
                            display: block;
                            font-size: 16px;
                        }
                    }
                }
            }
            .banner-image{
                img{
                    width: 100%;
                }
            }
        }
    }
    .bravo_categories{
        margin-bottom: 80px;
        @media (max-width: 1199px){
            margin-bottom: 50px;
        }
        .categories-header{
            font-size: 20px;
            line-height: 1;
            text-align: left;
            margin-bottom: 20px;
            font-weight: 600;
        }
        .list-item{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
            .item{
                flex: 0 0 12.5%;
                padding: 0 15px;
                .image-content{
                    .box-title{
                        a{
                            font-size: 14px!important;
                        }
                    }
                }
                @media(max-width: 1199px){
                    flex: 0 0 25%;
                    margin-bottom: 30px;
                    .mf-image-box{
                        .thumbnail{
                            text-align: center;
                            img{
                                display: inline-block;
                                width: 100%;
                            }
                        }
                    }
                }
                @media(max-width: 768px){
                    flex: 0 0 33.33%;
                }
                @media (max-width: 605px){
                    flex: 0 0 50%;
                }
                .mf-image-box{
                    height: 100%;
                    &:hover{
                        a{
                            color: #fcb800;
                        }
                    }
                }
                .image-content{
                    .box-title{
                        a{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    .bravo_BannerHome2{
        .ps-home-banner{
            margin-top: 30px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin-bottom: 30px;
            position: relative;
            @media (max-width: 1199px){
                justify-content: flex-start;
            }
            @media (max-width: 767px){
                display: block;
            }
            >*{
                width: 100%;
                @media (max-width: 1199px){
                    max-width: 50% !important;
                }
            }
            .mf-banner-small{
                position: relative;
                .banner-featured-image{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-size: cover;
                    background-position: left top;
                    background-color: #f8f8f8;
                    background-repeat: no-repeat;
                }
                .banner-content{
                    height: 187px;
                    padding: 20px;
                    text-align: left;
                    border-style: solid;
                    border-width: 0 1px 1px 0;
                    border-color: #d9d9d9;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin: 0;
                    @media (max-width: 1199px){
                        height: 175px;
                    }
                    @media (max-width: 991px){
                        height: 152px;
                    }
                    @media (max-width: 767px){
                        height: 187px;
                    }
                    &.bottom{
                        justify-content: space-between;
                    }
                    .banner-title{
                        color: #3078a6;
                        font-size: 24px;
                        font-weight: 300;
                        line-height: 1.2em;
                    }
                }
                .banner-desc{
                    p{
                        margin: 0;
                    }
                    .price{
                        color: #669900;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 1;
                    }
                }
            }
            .ps-section__left{
                max-width: 270px;
                background-color: #ffffff;
                border: 1px solid #d3d3d3;
                @media (max-width: 1199px){
                    display: none;
                }
                .bravo-department-list .menu{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    >li{
                        padding: 0 20px;
                        -webkit-transition: all .4s ease;
                        transition: all .4s ease;
                        margin: 0;
                        .dropdown-submenu{
                            display: none!important;
                        }
                        &:hover{
                            background-color: #fcb800;
                        }
                        >a{
                            display: block;
                            padding: 10px 0;
                            color: #000;
                            line-height: 16px;
                            i{
                                margin-right: 10px;
                                font-size: 18px;
                                color: #3e81ac;
                            }
                        }
                    }
                }
            }
            .ps-section__center{
                max-width: calc(100% - 640px);
                @media (max-width: 991px){
                    max-width: 60% !important;
                }
                @media (max-width: 767px){
                    max-width: 100% !important;
                }
                .bravo-home-sliders{
                    overflow: hidden;
                    max-height: 375px;
                    border-width: 1px 1px 1px 0;
                    border-color: #d3d3d3;
                    border-style: solid;
                    @media (max-width: 1199px){
                        max-height: 350px;
                    }
                    @media (max-width: 991px){
                        max-height: 305px;
                    }
                    @media (max-width: 767px){
                        border-width: 1px;
                    }
                    .slick-arrow{
                        display: none!important;
                    }
                    .slick-dots{
                        margin: 0;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 13px;
                        li{
                            &.slick-active{
                                button{
                                    background: #fcb800;
                                    border: 1px solid #fcb800;
                                }
                            }
                            button{
                                border: 1px solid transparent;
                                background-color: rgba(255,255,255,0.5);
                                &:focus{
                                    outline: none;
                                }
                            }
                        }
                    }
                }
                img{
                    width: 100%;
                    display: inline-block;
                }
            }
            .ps-section__right{
                max-width: 382px;
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;
                justify-content: flex-start;
                @media (max-width: 767px){
                    max-width: 100% !important;
                }
                .mf-banner-small{
                    width: 50%;
                    &:nth-child(3){
                        width: 100%;
                    }
                    .banner-content{
                        padding: 15px;
                        .banner-title{
                            color: #3078a6;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 1.2em;
                        }
                        .banner-desc{
                            .price, .sub_price{
                                font-size: 14px;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    .bravo_promotion2{
        margin-bottom: 20px;
    }
    .BestSellerBrands{
        margin-bottom: 50px;
        .best_seller__header{
            h3{
                font-size: 20px;
                font-weight: 600;
                margin: 30px 0 24px;
                line-height: 1;
                color: #000;
                text-align: left;
            }
        }
        .best_seller__content{
            background-color: #ffffff;
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            .image-item{
                display: flex;
                margin-bottom: 0;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex: 0 0 20%;
                max-width: 20%;
                @media (max-width: 767px){
                    flex: 0 0 50%;
                    max-width: 50%;
                    &:nth-child(-n+2){
                        .image-item__wrapper{
                            border-top-width: 1px;
                        }
                    }
                    &:nth-child(2n+1){
                        .image-item__wrapper{
                            border-left-width: 1px;
                        }
                    }
                }
                @media (min-width: 768px){
                    &:nth-child(-n+5){
                        .image-item__wrapper{
                            border-top-width: 1px;
                        }
                    }
                    &:nth-child(5n+1){
                        .image-item__wrapper{
                            border-left-width: 1px;
                        }
                    }
                }

                .image-item__wrapper{
                    padding: 10px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    border-width: 0 1px 1px 0;
                    border-color: #c6c6c6;
                    border-style: solid;
                }
            }
        }
    }
    .SearchTrending{
        margin-bottom: 70px;
        .mf-category-tabs{
            .tabs-title{
                h2{
                    color: #000000;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            .martfury-tabs{
                .tabs-header {
                    ul{
                        li{
                            a{
                                &.active{
                                    .mf-icon{
                                        color: #fcb800;
                                    }
                                }
                                .mf-icon{
                                    color: #3078a6;
                                }
                            }
                        }
                    }
                }
                .tabs-content{
                    .tabs-panel{
                        ul{
                            li{
                                @media (max-width: 767px){
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
