.booking-form {
    width: 100%;
    .cart-title{
        font-size: 18px;
        font-weight: 600;
        margin: 0 0 20px;
        display: none;
        @media (max-width: 767px){
            display: block;
        }
    }
}
.ps-section__header {
    text-align: center;
    padding-bottom: 100px;
    @media (max-width: 767px){
        padding-bottom: 65px;
    }
    h1 {
        font-size: 48px;
        font-weight: 600;
        @media (max-width: 767px){
            font-size: 24px;
            margin-bottom: 0;
        }
    }
}
.ps-section--shopping {
    .ps-section__content {
        .table {
            width: 100%;
            margin-bottom: 1rem;
            background-color: transparent;
            border: none;
            border-collapse: collapse;
        }
        .ps-table--shopping-cart {
            thead {
                @media (max-width: 767px){
                    display: none;
                }
                tr {
                    th {
                        padding: 15px 20px;
                        text-transform: uppercase;
                        color: #000;
                        text-align: center;
                        font-weight: 600;
                        background-color: #f2f2f2;
                        border: none;
                        &:first-child {
                            text-align: left;
                        }
                    }
                }
            }
            tbody {
                tr {
                    @media (max-width: 767px){
                        position: relative;
                        padding-left: 110px;
                        display: block;
                        padding-bottom: 90px;
                        border-bottom: 1px solid #dee2e6;
                        margin-bottom: 20px;
                    }
                    &:last-child {
                        border-bottom: none;
                        @media (max-width: 767px){
                            border-bottom: 1px solid #dee2e6;
                        }
                    }
                    td {
                        padding: 20px 10px;
                        vertical-align: middle;
                        font-size: 16px;
                        border: none;
                        @media (max-width: 767px){
                            display: block;
                            padding: 0!important;
                            color: #ff3300;
                            >span{
                                padding-left: 5px;
                            }
                            &.quantity_box{
                                position: absolute;
                                bottom: 30px;
                                left: 0;
                                width: calc(100% - 50px);
                                .quantity-number{
                                    max-width: 100%;
                                    width: 100%;
                                }
                            }
                            &.remove_cart{
                                position: absolute;
                                right: 0;
                                bottom: 30px;
                                a{
                                    display: block;
                                    width: 39px;
                                    height: 39px;
                                    background: #f0f0f0;
                                    text-align: center;
                                    line-height: 39px;
                                    color: #000;
                                }
                            }
                            &:before{
                                content: attr(data-table);
                                color: #999;
                                font-size: 14px;
                            }
                        }
                    }
                    .ps-product--cart {
                        max-width: 500px;
                        display: -webkit-box;
                        display: flex;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        flex-flow: row nowrap;
                        -webkit-box-align: center;
                        align-items: center;
                        @media (max-width: 767px){
                            max-width: 100%;
                        }
                        .ps-product__thumbnail {
                            max-width: 100px;
                            @media (max-width: 767px){
                                position: absolute;
                                left: 0;
                                top: 0;
                            }
                        }
                        &>* {
                            width: 100%;
                        }
                        .ps-product__content {
                            padding-left: 30px;
                            @media (max-width: 767px){
                                padding-left: 0;
                            }
                            a {
                                font-size: 16px;
                                color: #0066cc;
                                &:hover {
                                    color: #fcb800;
                                }
                            }
                            p{
                                color: #999;
                                @media (max-width: 767px){
                                    margin-bottom: 0;
                                }
                                span{
                                    color: #000;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                    .form-group--number {
                        max-width: 100px;
                        display: inline-block;
                        position: relative;
                        button {
                            background: none;
                            border: none;
                            background-color: transparent;
                            position: absolute;
                            top: 50%;
                            -webkit-transform: translateY(-50%);
                            transform: translateY(-50%);
                            width: 20px;
                            height: 20px;
                            max-width: 20px;
                            display: -webkit-box;
                            display: flex;
                            -webkit-box-orient: horizontal;
                            -webkit-box-direction: normal;
                            flex-flow: row nowrap;
                            -webkit-box-pack: center;
                            justify-content: center;
                            -webkit-box-align: center;
                            align-items: center;
                            color: #000;
                            font-size: 20px;
                            line-height: 1em;
                            &:focus{
                                outline: none;
                            }
                            &.up {
                                right: 10px;
                            }
                            &.down {
                                left: 10px;
                            }
                        }
                        .form-control {
                            border: 1px solid #ccc;
                            height: 40px;
                            padding: 0 25px;
                            text-align: center;
                            font-size: 14px;
                            color: #000;
                            border-radius: 50px;
                            background-color: transparent;
                            border-radius: 0;
                        }
                        input {
                            border-radius: 0;
                            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

p {
    font-size: 1.4rem;
    line-height: 1.6em;
    color: #666;
}

button {
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.ps-shopping-cart {
    .ps-section__cart-actions {
        padding-top: 30px;
        padding-bottom: 90px;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row nowrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        @media (max-width: 767px){
            padding: 0 0 30px;
            flex-flow: column;
        }
    }

    .ps-btn {
        display: inline-block;
        padding: 15px 45px;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: #000;
        border: none;
        font-weight: 600;
        border-radius: 4px;
        background-color: #fcb800;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        cursor: pointer;
        @media (max-width: 767px){
            margin-bottom: 15px;
        }
        &--outline {
            border: 2px solid #000;
            color: #000;
            padding: 12px 20px;
            vertical-align: middle;
            background:  white;
            // float: right;
            &:hover {
                background-color: #fcb800;
                border-color: #fcb800;
            }
            i {
                margin-right: 6px;
                vertical-align: middle;
            }
        }
        i {
            margin-right: 6px;
            vertical-align: middle;
        }
    }

    .ps-section__footer {
        figure {
            margin: 0;
            figcaption {
                position: relative;
                display: block;
                font-size: 20px;
                color: #000;
                margin-bottom: 35px;
                &::after {
                    content: '\e93a';
                    font-family: 'Linearicons';
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    right: 0;
                }
            }
            .form-group {
                margin-bottom: 2.5rem;
                border-color: #ccc;
                .form-control {
                    outline: none;
                    height: 50px;
                    font-size: 14px;
                    padding: 0 20px;
                    border: none;
                    height: 50px;
                    background-color: transparent;
                    border: 1px solid #dddddd;
                    border-radius: 0;
                    box-shadow: 0 0 rgba(0, 0, 0, 0);
                    -webkit-transition: all .4s ease;
                    transition: all .4s ease;
                    box-shadow: 0 0 0 #000;
                }
            }
        }

        .ps-btn--outline {
            border-color: #cccccc;
            color: #000;
            border-radius: 0;
            display: inline-block;
            padding: 15px 45px;
            font-size: 16px;
            line-height: 20px;
            transition: all .4s ease;
            cursor: pointer;
        }

        .select2 {
            min-width: 100%;
            .select2-selection--single {
                .select2-selection__rendered {
                    padding: 15px 20px;
                    border: #cccccc;
                    font-size: 14px;
                    line-height: 1.3;
                }
                .select2-selection__arrow {
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    right: 10px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .ps-block--shopping-total  {
        margin-bottom: 30px;
        padding: 20px 30px;
        background-color: #f1f1f1;
        border: 1px solid #bfbfbf;
        .ps-block__header {
            display: block;
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
            p {
                margin-bottom: 20px;
                font-size: 16px;
                span {
                    float: right;
                }
            }
        }
        h3 {
            margin-bottom: 0;
            font-size: 24px;
            font-weight: 600;
            span {
                color: #ff3300;
                font-weight: 600;
                float: right;
            }
        }
        .ps-block__content {
            ul.ps-block__product {
                margin: 0;
                padding: 0;
                list-style: none;
                li   {
                    border-bottom: 1px solid #d6d6d6;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    &.coupon{
                        display: flex;
                        justify-content: space-between;
                        .coupon_text{
                            >*{
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                    }
                }
                span {
                    display: block;
                    line-height: 24px;
                }
                .ps-block__shop {
                    color: #000;
                }
                .ps-block__shipping {
                    color: #666;
                }
                .ps-block__estimate {
                    strong {
                        font-weight: 600;
                    }
                    a {
                        color: #000;
                        display: block;
                        margin-left: 40px;
                        font-size: 14px;
                        &:hover {
                            color: #fcb800;
                        }
                    }
                }
            }
            h3{
                font-size: 20px;
            }
        }
    }
}

.ps-btn:hover {
    background-color: #222;
            color: #fff;
}

.ps-btn--outline, button.ps-btn--outline {
    border: 2px solid #fcb800;
    color: #fcb800;
    background-color: transparent;
    -ms-box-shadow: none;
    box-shadow: none;
    font-weight: 500;
}

.ps-select {
    display: inline-block;
    min-width: 120px;
    cursor: pointer;
}

.select2 .select2-selection--single {
    height: auto;
    outline: none;
    border-radius: 0;
}

.ps-btn--fullwidth, button.ps-btn--fullwidth {
    width: 100%;
    text-align: center;
}

.bravo-booking-page{
    .bravo-notices-wrapper{
        .bravo-message, .bravo-error{
            padding: 1em 2em 1em 3.5em;
            margin: 0 0 2em;
            position: relative;
            background-color: #f7f6f7;
            color: #515151;
            border-top: 3px solid #8fae1b;
            list-style: none outside;
            width: auto;
            word-wrap: break-word;
            &:before{
                content: '\f058';
                font-family: FontAwesome, "sans-serif";
                display: inline-block;
                position: absolute;
                top: 1em;
                left: 1.5em;
                color: #8fae1b;
            }
        }
        .bravo-error{
            border-top-color: #b81c23;
            &:before{
                content: '\f06a';
                color: #b81c23;
            }
        }
    }
    #bravo-cart-page{
        .cart-empty{
            padding: 1em 2em 1em 3.5em;
            margin: 0 0 2em;
            position: relative;
            background-color: #f7f6f7;
            color: #515151;
            border-top: 3px solid #1e85be;
            list-style: none outside;
            width: auto;
            word-wrap: break-word;
            &:before{
                font-family: FontAwesome, "sans-serif";
                content: "\f2d0";
                display: inline-block;
                position: absolute;
                top: 1em;
                left: 1.5em;
                color: #1e85be;
            }
            &:after{
                content: ' ';
                display: table;
                clear:both;
            }
        }
        .return-to-shop{
            a.button{
                padding: 0 25px;
                height: 50px;
                line-height: 50px;
                background-color: #fcb800;
                transition: all 0.5s;
                color: #000;
                font-size: 16px;
                font-weight: 600;
                text-align: center;
                border: none;
                border-radius: 0;
                display: inline-block;
            }
        }
    }
}
.inner_page_breadcrumb{
    .breadcrumb_content{
        .breadcrumb_title{
            padding-top: 115px;
            padding-bottom: 25px;
            font-size: 48px;
            font-weight: 600;
            text-align: center;
            margin: 0;
            line-height: 1;
        }
    }
}
#bravo-checkout-page{
    h3 {
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: 600;
        margin-top: 0;
    }
    .booking-form{
        .checkout-billing{
            .form-row{
                padding: 0;
                display: block;
                margin: 0 0 10px;
                label{
                    line-height: 2;
                    margin-bottom: 5px;
                    display: block;
                    .required{
                        color: red;
                        font-weight: 700;
                        border: 0!important;
                        text-decoration: none;
                    }
                }
                input[type=text], input[type=email], textarea{
                    border: 1px solid #d9d9d9;
                    background: #fff;
                    padding: 10px;
                }
                .input-text{
                    color: #000;
                    min-width: inherit;
                    border: 1px solid #ccc;
                    padding: 16px!important;
                }
                input.input-text, textarea{
                    box-sizing: border-box;
                    width: 100%;
                    margin: 0;
                    outline: 0;
                    line-height: normal;
                }
                .select2{
                    width: 100% !important;
                    .select2-selection{
                        padding: 10px 16px;
                        .select2-selection__arrow{
                            top: 10px;
                        }
                    }
                }
            }
        }
    }
    .booking-detail{
        .bravo-checkout-review-order{
            table{
                &.shop_table{
                    border-radius: 0;
                    padding: 0 30px;
                    border: 1px solid #bfbfbf;
                    background-color: #f6f6f6;
                    margin: 0;
                    text-align: left;
                    width: 100%;
                    border-collapse: separate;
                    tr{
                        &.order-total{
                            >*{
                                border-bottom: none!important;
                            }
                        }
                        th{
                            background-color: transparent;
                            color: #666;
                            font-weight: 400;
                            padding: 20px 0;
                            border: none;
                            font-size: 16px;
                            text-transform: none;
                            border-bottom: 1px solid #e1e1e1;
                            &:last-child{
                                text-align: right;
                            }
                        }
                        td{
                            border: none;
                            color: #000;
                            vertical-align: top;
                            border-bottom: 1px solid #d6d6d6;
                        }
                    }
                    th{
                        font-weight: 700;
                        padding: 9px 12px;
                        line-height: 1.5em;
                    }
                    td{
                        padding: 20px 0;
                        border-top: none;
                        vertical-align: middle;
                        line-height: 1.5em;
                        &:last-child{
                            text-align:right;
                        }
                    }
                    dl{
                        list-style: none outside;
                        margin-bottom: 0;
                        dt.variation-SoldBy{
                            font-weight: 400;
                            color: #999;
                            float: left;
                            clear: both;
                            margin-right: .25em;
                            display: inline-block;
                            list-style: none outside;
                        }
                        dd.variation-SoldBy, dd.variation-SoldBy p{
                            margin: 0;
                        }
                    }
                    thead{
                        th{
                            text-transform: uppercase;
                            color: #000;
                            padding-bottom: 10px;
                            font-weight: 600;
                        }
                    }
                    tbody{
                        td{
                            border: none;
                            color: #000;
                            vertical-align: top;
                            border-bottom: 1px solid #d6d6d6;
                        }
                    }
                    tfoot{
                        tr{
                            th{
                                background-color: transparent;
                                font-weight: 400;
                                text-transform: none;
                            }
                        }
                    }
                    .cart_item{
                        &:first-child{
                            td{
                                padding-top: 20px;
                            }
                        }
                        td{
                            padding: 5px 0;
                            border-bottom: none;
                        }
                    }
                    .cart-subtotal{
                        th{
                            color: #000;
                            font-weight: 600;
                        }
                        td{
                            text-align: right;
                            .bravo-Price-amount{
                                color: #ff0000;
                                font-weight: 600;
                            }
                        }
                    }
                    .order-total{
                        font-size: 20px;
                        th{
                            color: #000;
                            font-weight: 600;
                            font-size: 20px;
                        }
                        td{
                            text-align: right;
                            .bravo-Price-amount{
                                color: #ff0000;
                                font-weight: 600;
                            }
                        }
                    }
                    .cart_coupon{
                        td{
                            border-top: 1px solid #e1e1e1;
                        }
                    }
                }
            }
        }
    }
}

