.bravo_footer_menu{
    .mf-els-modal-mobile{
        z-index: 999999;
        display: block;
        .primary-mobile-nav{
            position: static;
            transform: none;
            width: 100%;
            .mobile-nav-content{
                .mobile-nav-header{
                    .close-mobile-nav{
                        display: block;
                    }
                }
                .bravo-department-list{
                    .menu{
                        >.menu-item-has-children{
                            >a{
                                &:after{
                                    content: "\e936";
                                    font-family: 'Linearicons' !important;
                                    position: absolute;
                                    right: 0;
                                }
                            }
                            &.active{
                                >a{
                                    &:after{
                                        content: "\e937";
                                    }
                                }
                            }
                            >ul.dropdown-submenu{
                                background: transparent!important;
                                >li{
                                    padding: 0;
                                    .mega-menu-content{
                                        .flex-nowrap{
                                            display: block;
                                            margin: 0;
                                            >.menu-item-has-children{
                                                padding: 5px 0;
                                                .menu-item-mega{
                                                    a{
                                                        color: #666;
                                                    }
                                                    >a{
                                                        position: relative;
                                                        &:after{
                                                            content: "\e936";
                                                            font-family: 'Linearicons' !important;
                                                            position: absolute;
                                                            right: 0;
                                                        }
                                                        &.active{
                                                            &:after{
                                                                content: "\e937";
                                                            }
                                                        }
                                                    }
                                                    .mega-menu-submenu{
                                                        .sub-menu{

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .mf-cart-mobile{
            .widget-canvas-content{
                height: calc(100vh - 117px);
                .widget_shopping_cart_content{
                    height: 100%;
                    .cart__items{
                        height: 68%;
                        overflow: auto;
                        @media (max-width: 991px){
                            height: calc(100vh - 268px);
                        }
                        .ps-product--cart-mobile{
                            position: relative;
                            padding: 15px 25px 15px 15px;
                            &:not(:last-child){
                                border-bottom: 1px solid #e5e5e5;
                            }
                            >*{
                                display: table-cell;
                                vertical-align: top;
                            }
                            .ps-product__thumbnail{
                                img{
                                    width: 56px;
                                }
                            }
                            .ps-product__content{
                                padding-left: 15px;
                            }
                            .ps-product__remove{
                                position: absolute;
                                top: 10px;
                                right: 13px;
                                color: #ccc;
                                font-size: 20px;
                                font-weight: 400;
                            }
                            p{
                                margin: 0;
                                color: #aaa;
                                strong{
                                    font-weight: 500;
                                    color: #000;
                                    margin-right: 4px;
                                    padding-bottom: .25em;
                                }
                            }
                            small{
                                font-size: 14px;
                                color: #000;
                            }
                        }
                        .cart__empty{
                            padding: 20px;
                        }
                    }
                    .cart__footer{
                        position: absolute;
                        bottom: 67px;
                        left: 0;
                        right: 0;
                        border-top: 1px solid #e5e5e5;
                        z-index: 10;
                        background-color: #fff;
                        h3{
                            margin-top: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-size: 18px;
                            margin-bottom: 0;
                            padding: 0 15px;
                            color: #000;
                            font-weight: 600;
                            strong{
                                font-weight: 600;
                                color: #ff3300;
                            }
                        }
                        figure{
                            margin: 20px 0 1.7em;
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            padding-left: 15px;
                            padding-right: 15px;
                            a{
                                height: 45px;
                                border-radius: 3px;
                                min-width: 150px;
                                margin-bottom: 10px;
                                white-space: nowrap;
                                &.checkout{
                                    background: #e59c00;
                                }
                                @media (max-width: 370px){
                                    min-width: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .mf-navigation-mobile{
        display: none;
        @media (max-width: 991px){
            display: block;
        }
    }
}
.bravo_footer{
    .footer-newsletter{
        .newsletter-content{
            margin-bottom: 15px;
        }
    }
    &.site-footer{
        border-top: 1px solid #e1e1e1;
        @media (max-width: 991px){
            margin-bottom: 66px;
        }
        .footer-bottom{
            padding: 35px 0;
            .footer-row{
                display: flex;
                align-items: center;
                @media (max-width: 768px){
                    text-align: center;
                    .footer-copyright{
                        margin-bottom: 15px;
                    }
                    .footer-payments{
                        display: block;
                        text-align: center;
                        .text{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    &.footer-style-1{
        padding: 0;
        border-top: 1px solid #e1e1e1;
        background-color: #f8f8f8;
        .container{
            padding: 0 15px;
            .ps-block--site-features{
                display: flex;
                padding: 40px 0;
                margin-bottom: 70px;
                border-bottom: 1px solid #e1e1e1;
                @media (max-width: 1199px){
                    flex-flow: wrap;
                }
                .ps-block__item{
                    padding: 10px 30px;
                    max-width: 25%;
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    @media (max-width: 1199px){
                        max-width: 50%;
                    }
                    @media (max-width: 767px){
                        max-width: 100%;
                        padding: 10px 0;
                    }
                    &:not(:last-child){
                        border-right: 1px solid #dadada;
                        @media (max-width: 1199px){
                            border: none;
                        }
                    }
                    .ps-block__left{
                        i{
                            font-size: 40px;
                            color: #fcb800;
                        }
                    }
                    .ps-block__right{
                        width: 100%;
                        padding-left: 15px;
                        >*{
                            margin: 0;
                        }
                        h4{
                            font-size: 18px;
                            font-weight: 500;
                            margin-bottom: 0;
                            margin-top: 0;
                            color: #000;
                        }
                    }
                }
            }
            .ps-footer__content{
                border-bottom: 1px solid #e1e1e1;
                .widget{
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    .widget-title{
                        font-size: 16px;
                        margin-bottom: 30px;
                    }
                    .subcribe-form{
                        position: relative;
                        margin-bottom: 20px;
                        input[type=submit]{
                            min-width: initial;
                        }
                        &:after{
                            right: 10px;
                        }
                    }
                    .ps-list--link{
                        li{
                            padding: 4px 0;
                            a{
                                display: inline-block;
                                color: #666;
                                line-height: 20px;
                                position: relative;
                                &:hover{
                                    &:before{
                                        -webkit-transform: scale3d(1, 1, 1);
                                        transform: scale3d(1, 1, 1);
                                        -webkit-transform-origin: 0 50%;
                                        transform-origin: 0 50%;
                                    }
                                }
                                &:before{
                                    content: '';
                                    position: absolute;
                                    top: 100%;
                                    left: 0;
                                    width: 100%;
                                    height: 1px;
                                    background-color: #000;
                                    -webkit-transform: scale3d(0, 1, 1);
                                    transform: scale3d(0, 1, 1);
                                    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
                                    transition: -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
                                    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
                                    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
                                    -webkit-transform-origin: 100% 50%;
                                    transform-origin: 100% 50%;
                                }
                            }
                        }
                    }
                    .follow-us{
                        p{
                            font-size: 1.4rem;
                            line-height: 1.6em;
                            margin-bottom: 1rem;
                        }
                        .ps-list--social{
                            li{
                                position: relative;
                                display: inline-block;
                                margin-right: 20px;
                                vertical-align: top;
                                a{
                                    display: inline-block;
                                    font-size: 18px;
                                    color: #666;
                                    &.facebook i{color: #3b5998}
                                    &.twitter i{color: #0084b4}
                                    &.google-plus i{color: #FF0000}
                                    &.instagram i{color: #C32AA3}
                                }
                            }
                        }
                    }
                }
                .footer-newsletter{
                    padding: 0 15px;
                    border: none;
                }
            }
        }
    }
}
.subcribe-form{
    &.loading{
        &:after{
            left: initial;
            right: 44px;
            top: 17px;
            opacity: 0.25;
        }
        input[type=submit]{
            opacity: 0.25;
        }
    }
}
