.bc_start_chat{
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    color: #4b4f56;
    padding: 3px 10px;
    font-size: 13px;
    cursor: pointer;
    &:hover{
        background-color: #ebedf0;
    }
}
.owner-info{
    background: #FFF;
    border-radius: 3px;
    padding: 15px;
    border: 1px solid #D7DCE3;
    .media-left{
        padding-right: 10px;
        img{
            width: 50px;
            border-radius: 50%;
        }
    }
    .avatar-text{
        background: #1a2b47;
        color: #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: block;
        text-align: center;
        padding-top: 4px;
        position: relative;
        font-size: 29px;
        top: 0;
        text-decoration: none;
    }
    .media-heading{
        font-weight: 500;
        font-size: 14px;
        color: #1a2b48;
        margin-top: 5px;
        margin-bottom: 5px;
        a{
            color:inherit;
        }
    }
    p{
        margin-bottom: 5px;
        color: #5E6D77;
        font-size: 12px;
    }
}
.bc-chat-box{
    position: fixed;
    right: 20px;
    bottom: 0px;
    z-index: 9999;
    .chat-minimize{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        color: #fff;
        background: #5191fa;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-radius: 2px;
        box-shadow: 0 0 3px 1px rgba(0,0,0,.15);
        padding: 3px 15px;
        font-size: 16px;
        i{
            font-size: 22px;
            margin-right: 10px;
        }
        margin-bottom: 15px;

        .unread-count{
            background: #ff8067;
            color: white;
            margin-left: 6px;
            display: inline-block;
            padding: 0px 8px;
            border-radius: 50%;
            font-size: 13px;
        }
    }
    .chat-maximum{
        box-shadow: 0 0 3px 1px rgba(0,0,0,.15);
        height: 500px;
        display: flex;
        flex-direction: column;
        .chat-header{
            background: #5191fa;
            color:white;
            flex-shrink: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3px 10px;
            font-size: 16px;
            i{
                font-size: 20px;
                margin-right: 10px;
                line-height: 30px;
            }
            .header-actions{
                i{
                    margin-right: 0px;
                }
                .btn-minimize{
                    cursor: pointer;
                    display: inline-block;
                    padding: 0px 12px;
                    i{
                        font-size: 26px;
                    }
                }
            }
        }
        .chat-content{
            display: flex;
            flex-grow: 1;
            background: #f1f1f1;
            overflow: hidden;

        }
        .chat-navs{
            border-right: 1px solid #d7dce3;
            width: 250px;
            .chat-conversation-nav{
                position: relative;
                .media{
                    padding: 10px 10px;
                    align-items: center;
                    .media-left{
                        margin-right: 7px;
                        img{
                            max-width: 40px;
                            border-radius: 50%;
                        }
                        .avatar-text{
                            align-items: center;
                            background: #05647d;
                            color: #fff;
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            font-size: 22px;
                            justify-content: center;
                        }
                    }
                    .media-heading{
                        font-size: 16px;
                        margin-bottom: 0px;
                    }
                    .media-body{
                        p{
                            margin-bottom: 0px;
                            font-size: 14px;
                        }
                    }
                    .unread_count{
                        position: absolute;
                        background: #ff8067;
                        color: white;
                        margin-left: 6px;
                        display: inline-block;
                        padding: 0px 8px;
                        border-radius: 50%;
                        font-size: 13px;
                        top: 19px;
                        right: 10px;
                    }
                }
                &.active,&:hover{
                    background-color: #cee4ef;
                }
            }
        }
        .chat-box-content{
            width: 430px;
            display: flex;
            flex-direction: column;
            background: white;
            position: relative;
            .chat-messages{
                flex-grow: 1;
                padding: 10px;
                position: relative;
                z-index: 2;
                overflow: auto;


                /* width */
                &::-webkit-scrollbar {
                    width: 5px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #888;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }
                .message-item{
                    margin-bottom: 10px;
                    padding-right: 60px;
                    .m-content{
                        display: inline-block;
                        border-radius: 2px;
                        padding: 6px 12px;
                        background-color: #f1f1f1;
                        color:#333;
                    }
                    .m-date{
                        font-size: 12px;
                        display: block;
                    }
                    &.m-me{
                        padding-left: 60px;
                        padding-right: 0px;
                        text-align: right;

                        .m-content{
                            background-color: rgb(81, 145, 250);
                            color:white;
                        }
                    }
                }
                .load-more-text{
                    cursor: pointer;
                    a{
                        color: #5191fa;
                        font-style: italic;
                        text-decoration: underline;
                    }
                }
            }
            .chat-add-new{
                flex-shrink: 0;
                display: flex;
                padding: 7px 5px;
                align-items: center;
                position: relative;
                z-index: 2;
                border-top: 1px solid #d7dce3;
                i{
                    font-size: 22px;
                }
                >{
                    flex-shrink: 0;
                }
                .chat-input{
                    flex-grow: 1;
                    textarea{
                        resize: none;
                        overflow: hidden;
                        &:focus{
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }
                .chat-form-action{
                    padding: 0px 10px;
                    cursor: pointer;
                }
                .chat-sends{
                    i{
                        color:#5191fa;
                        font-size: 26px;
                    }
                }
            }
            .hidden{
                position: absolute;
                z-index: 1;
                top: 0px;
                textarea{
                    resize: none;
                    &:focus{
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

@media(max-width: 990px){
    .bc-chat-box{
        right: 0px;
        .chat-maximum{
            max-height: 100vh;
            max-width: 100vw;
            .chat-navs .chat-conversation-nav
            {
                .media-left{
                    display: none;
                }
            }
        }
    }
    .is_single{
        .bc-chat-box{
            .chat-minimize{
                margin-right: 15px;
                margin-bottom: 80px;
            }
        }
    }
}