.bravo-header {
    .main-menu .nav {
        position: relative;
        > ul > li {
            padding-top: 17px;
            padding-bottom: 17px;

            &:first-child {
                padding-left: 0;
            }

            > a {
                font-size: 16px;
                color: #000;
                line-height: 1;
                display: flex;
                align-items: flex-end;

                i {
                    padding-right: 8px;
                    font-size: 18px;
                    line-height: 1;
                }
            }

            &.menu-item-has-children {
                > a {
                    position: relative;
                    margin-right: 22px;

                    &:after {
                        content: '\e93a';
                        display: inline-block;
                        font: normal normal normal 14px/1 linearicons;
                        position: absolute;
                        right: -22px;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 12px;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        top: 120%;
                        left: calc(50% - 5px);
                        width: 13px;
                        height: 13px;
                        transform: rotate(45deg);
                        border-left: 1px solid #ccc;
                        border-top: 1px solid #ccc;
                        background-color: #fff;
                        z-index: -1;
                        padding: 0;
                        margin: 11px -7px 0 0;
                        transition: top 0.3s ease 0s,opacity 0.1s;
                        opacity: 0;
                    }
                }

                &:hover > a:before {
                    top: 100%;
                    opacity: 1;
                    z-index: 9999;
                }
            }

            &.current-menu-parent > a, &.current-menu-item > a, &.current-menu-ancestor > a {
                color: #999;
            }
        }

        .is-mega-menu {
            position: static;

            &.has-width {
                position: relative;
            }

            &:hover {
                .dropdown-submenu {
                    transform: scale(1);
                    left: 0;

                    &.alignment {
                        transform: scale(1);
                    }
                }

                &.align-left .dropdown-submenu, &.align-right .dropdown-submenu {
                    transform: scale(1);
                }
            }

            &.align-left .dropdown-submenu {
                left: 0;
                transform: scale(0);
            }

            &.align-right .dropdown-submenu {
                right: 0;
                left: auto;
                transform: scale(0);
            }

            .dropdown-submenu {
                left: 0;
                transform: scale(0);
                width: auto;
                padding: 0;

                > li {
                    padding: 0;
                }

                .mega-menu-content {
                    padding: 25px 30px 10px;

                    > .row {
                        display: flex;
                        flex-wrap: wrap;

                        &:after, &:before {
                            display: none;
                        }
                    }
                }

                .menu-item-mega {
                    a {
                        white-space: normal;

                        &.is-label {
                            color: #000;
                            font-size: 16px;
                            margin: 20px 0 0;
                            padding: 0 0 7px;
                            font-weight: 600;
                        }
                    }

                    > a {
                        color: #000;
                        font-size: 16px;
                        margin: 0;
                        padding: 0 0 7px;
                        font-weight: 600;

                        &.hide-text {
                            display: none;
                        }

                        &.visible-text {
                            visibility: hidden;
                        }
                    }

                    .sub-menu {
                        background-color: transparent;

                        .sub-menu {
                            margin-left: 10px;
                            padding-bottom: 0;
                        }
                    }
                }

                .mega-menu-submenu .sub-menu {
                    position: static;
                    transform: scaleX(1);
                    opacity: 1;
                    width: 100%;
                    border: none;
                    z-index: 9999;
                    min-width: inherit;

                    li {
                        padding: 0;

                        &:first-child > a {
                            padding-top: 0;
                        }
                    }
                }
            }

            &:hover .mega-menu-container {
                opacity: 1;
                top: 100%;
                z-index: 9999;
                transform: scaleX(1);
            }

            .sub-menu {
                transform: scaleX(1);
            }

            .mega-menu-col{
                min-width: 210px;
            }
        }
    }

    .products-cats-menu {
        position: relative;
        padding-top: 14px;
        padding-bottom: 14px;
        min-height: 50px;
        display: flex;
        align-items: center;

        .cats-menu-title {
            color: #000;
            font-size: 16px;
            font-weight: 600;
            margin: 0;
            line-height: 1;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;

            i {
                display: inline-block;
                font-size: 30px;
                margin-right: 0;
            }
        }

        .toggle-product-cats {
            position: absolute;
            top: 120%;
            left: 0;
            z-index: -999;
            width: 100%;
            opacity: 0;
            transition: top 0.5s;
            transform: scaleX(0);

            .menu {
                border: 1px solid #d3d3d3;
                background-color: #fff;
                width: 100%;
            }
        }

        &.open .toggle-product-cats, &.mf-closed:hover .toggle-product-cats {
            opacity: 1;
            z-index: 991;
            top: 100%;
            transform: scaleX(1);
        }

        .menu {
            padding: 0;
            margin: 0;
            position: relative;

            > li {
                margin: 0;
                padding: 0 17px 0 20px;
                position: relative;
                display: block;
                &:hover{
                    background: #fcb800;
                    >a {
                        color: initial!important;
                    }
                }

                > a {
                    line-height: 1;
                    color: #000;
                    padding: 9px 0;
                    display: flex;
                    align-items: center;

                    > i {
                        font-size: 18px;
                        color: #000;
                        margin-right: 20px;
                    }

                    .toggle-children {
                        display: none;
                    }
                }

                &.menu-item-has-children > a:after {
                    content: '\e93c';
                    display: inline-block;
                    font: normal normal normal 14px/1 linearicons;
                    position: absolute;
                    top: 50%;
                    right: -14px;
                    transform: translateY(-50%);
                    color: #999;
                    font-size: 11px;
                    font-weight: 600;
                }

                &:hover > a {
                    color: #fcb800;

                    &:after {
                        color: #000;
                    }
                }
            }

            li {
                margin-bottom: 0;
                list-style: none;

                &:hover > ul {
                    opacity: 1;
                    z-index: 9999;
                    top: 0;
                    left: 100%;
                    transform: scaleX(1);
                    margin-top: -1px;
                }

                &:first-child {
                    > ul {
                        left: 120%;
                    }

                    &:hover > ul {
                        left: 100%;
                    }
                }

                &.is-mega-menu {
                    position: static;

                    .dropdown-submenu {
                        left: 120%;
                        right: auto;
                        border: 1px solid #ccc;
                        transform: scale(0);
                    }

                    &:hover .dropdown-submenu {
                        left: 100%;
                        transform: scale(1);
                    }

                    > ul {
                        min-height: 100%;

                        .sub-menu li:hover a {
                            padding-left: 5px;
                        }
                    }
                }

                .mega-menu-content .mr-col.col-md-6:nth-child(2n+1) {
                    clear: both;
                }
                .mega-menu-content{
                    .menu-item-mega{
                        >a{
                            //font-weight: 400;
                        }
                    }
                }

                ul {
                    padding: 10px 0;
                    transition: left 0.3s ease 0s,opacity 0.3s;
                    left: 110%;
                    top: 0;
                }
            }


        }
        .bravo-department-list{
            .menu{
                >li{
                    margin-top: 0px;
                    >a{
                        padding-top: 11px;
                        padding-bottom: 11px;
                    }
                }
                .is-mega-menu{
                    >.dropdown-submenu{
                        width: 530px;
                    }
                }
            }
        }
    }
}
