.service-review {
    .review {
        font-size: 13px;
        color: #768092;
        margin-left: 10px;
        @media (max-width: 414px){
            position: static;
            display: block;
            margin: 0;
        }
    }

    .list-star {
        display: inline-block;
        line-height: 13px;
        position: relative;

        .booking-item-rating-stars-active {
            position: absolute;
            width: 0;
            top: 0;
            left: 0;
            overflow: hidden;
        }

        .booking-item-rating-stars {
            padding: 0;
            margin: 0;
            width: 95px;

            li {
                list-style: none;
                float: left;
                margin-right: 5px;

                i {
                    font-size: 15px;
                    color: #ffdc00;
                }
            }

            &:before {
                content: "";
                display: table;
                clear: both;
            }

        }
    }
}

.product-detail-add-to-cart {
    form:before, form:after {
        display: table;
        content: ' ';
    }

    .actions-cart{
        @media (max-width: 1571px){
            overflow: hidden;
        }
    }

    .quantity-input {
        float: left;
        margin: 0 30px 0 0;
        @media (max-width: 1209px){
            margin-right: 15px;
        }

        label {
            font-size: 12px;
            display: block;
            line-height: 1;
            margin-bottom: 3px;
        }

        .quantity-input-group {
            border: 1px solid rgba(0, 0, 0, .25);
            padding: 0 20px;
            -webkit-transition: .5s;
            transition: .5s;
            position: relative;
            >span{
                font-size: 20px!important;
            }

            input {
                border-width: 0;
                width: 60px;
                padding: 10px 0;
                text-align: center;
                font-weight: 600;
                color: #000;
                display: inline-block;
                background-color: transparent;
                &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
                    display: none;
                }
            }

            .decrease, .increase {
                width: 30px;
                font-size: 24px;
                cursor: pointer;
                color: #999;
                -webkit-transition: .5s;
                transition: .5s;
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 10px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);

                &:hover {
                    color: #000;
                }
            }

            .increase {
                text-align: right;
                right: 10px;
                left: auto;
            }

            &:hover {
                border-color: #000;
            }
        }
    }

    .btn{
        height: 52px;
        font-weight: 600;
        font-size: 18px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        margin-top: 1px;
        vertical-align: bottom;
        float: left;
        white-space: nowrap;
        min-width: 180px;
        margin-right: 30px;
        @media (max-width: 1240px){
            margin-right: 15px;
        }
        &.add_to_cart{
            background-color: #000;
            color: #fff;
            @media (max-width: 767px){
                margin-right: 0;
                min-width: 173px;
            }
            &:hover{
                color: #fff;
            }
        }
        &.buy_now{
            color: #000;
            background-color: #fcb800;
            @media (max-width: 1304px){
                margin-right: 0!important;
            }
            @media (max-width: 1024px){
                margin-top: 20px;
                width: 100%;
            }
        }
        &.bravo_add_to_cart{
            position: relative;
            &:after{
                top: 19px;
                left: initial;
                right: 19px;
            }
            &.loading{
                opacity: 0.25;
            }
        }
    }

    .btn-custom{
        &:last-child{
            >a{
                margin-left: 20px;
            }
        }
        >a{
            background: transparent;
            color: #999;
            padding: 0;
            float: left;
            margin-top: 15px;
            &:hover{
                color:#000;
            }
            &.add_wishlist{
                .btn-text{
                    display: none;
                }
                &.active{
                    color: red;
                }
                &.loading{
                    >i{
                        visibility: hidden;
                    }
                    &:after{
                        top: 7px;
                        left: 5px;
                    }
                }
            }
            &.add_compare{
                &.loading{
                    position: relative;
                    opacity: 0.25;
                    i{
                        visibility: hidden;
                    }
                    &:after{
                        top: 7px;
                        left: 4px;
                    }
                }
                .btn-text{
                    display: none;
                    @media(max-width: 1571px){
                        display: inline-block;
                    }
                }
            }
            >*{
                display: inline-block;
                vertical-align: middle;
            }
            >i{
                font-size: 26px;
            }
            >span{
                font-size: 14px;
                font-weight: normal;
            }
        }
    }
    .variations{
        width: 100%;
        border: none;
        tr, th, td{
            display: block;
            border: none;
        }
        tbody{
            tr{
                td{
                    padding: 0;
                    margin-bottom: 13px;
                    &.label{
                        label{
                            display: inline;
                            .mf-attr-value{
                                padding-left: 5px;
                                font-weight: 600;
                                color: #000;
                                text-transform: capitalize;
                            }
                        }
                    }
                    &.value{
                        .tawcvs-swatches{
                            padding: 0;
                            .swatch{
                                width: 30px;
                                height: 30px;
                                border: none;
                                margin-right: 6px;
                                position: relative;
                                &.selected{
                                    -webkit-box-shadow: none;
                                    -moz-box-shadow: none;
                                    box-shadow: none;
                                    color: #000!important;
                                    border-color: #fcb800!important;
                                }
                                &.swatch-color{
                                    &.selected{
                                        border: 2px solid white!important;
                                        &:before{
                                            content: "";
                                            width: auto;
                                            height: auto;
                                            transform: unset;
                                            top: -2px;
                                            left: -2px;
                                            right: -2px;
                                            bottom: -2px;
                                            border: 1px solid #fcb800;
                                            margin: 0;
                                            border-radius: 50%;
                                        }
                                    }
                                }
                                &.swatch-label{
                                    width: auto;
                                    padding: 0 7px;
                                    border: 1px solid #d9d9d9;
                                    background: white;
                                    font-weight: 600;
                                    margin-right: 4px;
                                    min-width: 30px;
                                    color: #999;
                                }
                                &.swatch-image{
                                    width: 55px;
                                    height: 55px;
                                    border: 1px solid #d9d9d9;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .single_variation_wrap{
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        &.active{
            opacity: 1;
            max-height: 600px;
        }
        .single_variation{
            padding-bottom: 30px;
            display: flex;
            align-items: baseline;
            .variation-price{
                color: #000;
                font-size: 24px;
                margin-bottom: 0;
                font-weight: 600;
                line-height: 1;
            }
            .variation-stock{
                font-size: 16px;
                margin-left: 30px;
                &.out-of-stock{
                    .stock-status{
                        color: red;
                    }
                }
                .stock-status{
                    font-weight: 600;
                    padding-left: 5px;
                    color: #8bc500;
                }
            }
        }
    }
}

.bravo_detail_product {
    padding-top: 30px;
    padding-bottom: 0;

    .col-product-info {
        flex: 0 0 81%;
        max-width: 81%;
        padding-right: 50px;
        @media (max-width: 1024px){
            flex: inherit;
            max-width: inherit;
            padding-right: 0;
        }
        @media (max-width: 768px){
            padding-right: 15px;
            .row{
                >*{
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }

        .product-detail-gallery {
            margin-bottom: 0;
            padding-left: 70px;
            position: relative;
            @media (max-width: 1024px){
                border: none;
            }
            @media (max-width: 768px){
                width: 100%;
                max-width: 500px;
                margin: 0 auto 40px;
            }
            @media (max-width: 767px){
                padding: 0;
                height: auto;
            }

            .flex-direction-nav {
                display: none;
            }

            .flex-control-nav {
                position: absolute;
                top: -5px;
                left: 1px;
                width: 70px;
                background: #fff;
                @media (max-width: 767px){
                    top: initial;
                    width: 100%;
                }

                li {
                    margin: 0;
                    list-style: none;
                    float: none;
                    width: 55px;
                    padding: 5px 0;
                    @media (max-width: 1024px){
                        padding: 0;
                    }
                    @media (max-width: 767px){
                        width: auto;
                        margin: 0 5px;
                        a{
                            width: 8px;
                            height: 8px;
                            background: #dbdbdb;
                            -webkit-box-shadow: none;
                            -moz-box-shadow: none;
                            box-shadow: none;
                            &.flex-active{
                                background: #fcb800;
                            }
                        }
                    }

                    img {
                        border: 1px solid #d9d9d9;
                        cursor: pointer;
                        margin: 0;
                        display: block;
                        width: 100%;
                        height: auto;
                        box-shadow: none;

                        &:hover, &.flex-active {
                            border-color: #fcb800;
                        }
                    }
                }
            }

        }

        .col-product-meta {
            .product-detail-meta {
                .product-name {
                    font-size: 24px;
                    color: #000;
                    font-weight: 400;
                    line-height: 1.2;
                    margin-top: 0;
                    margin-bottom: 6px;
                    @media (max-width: 768px){
                        font-size: 20px;
                    }
                }

                .brand-review {
                    .product-brand {
                        padding-right: 15px;
                        position: relative;
                        margin-bottom: 0;
                    }
                    .service-review {
                        position: relative;
                        padding-left: 15px;

                        &:after {
                            position: absolute;
                            top: 50%;
                            -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                            left: 0;
                            width: 1px;
                            background-color: #e8e8e8;
                            height: 100%;
                            max-height: 13px;
                            content: "";
                        }
                    }
                }

                .price{
                    color: #000;
                    font-size: 24px;
                    margin-bottom: 10px;
                    font-weight: 600;
                    line-height: 1;
                    ins{
                        text-decoration: none;
                    }
                    &.has-sale{
                        >*{
                            display: inline-block;
                        }
                        ins{
                            color: #ff3300;
                            text-decoration: none;
                            font-weight: 600;
                        }
                        del{
                            opacity: 1;
                            font-size: 14px;
                            color: #666;
                            font-weight: 500;
                            padding-left: 5px;
                        }
                        .sale{
                            font-size: 14px;
                            color: #ff3300;
                            font-weight: 500;
                            &.sale-2{
                                display: none;
                            }
                        }
                    }
                }

                .product-detail-price {
                    color: #000;
                    font-size: 24px;
                    margin-bottom: 10px;
                    font-weight: 600;
                    line-height: 1;
                }

                .product-summary-header {
                    font-size: 14px;
                    color: #000;
                    margin-bottom: 15px;
                }

                .hr-price{
                    display: none;
                }

                .product-short-desc{
                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        li{
                            position: relative;
                            padding-left: 15px;
                            &:before{
                                content: '';
                                width: 6px;
                                height: 6px;
                                background-color: #999999;
                                border-radius: 50%;
                                position: absolute;
                                top: 7px;
                                left: 0;
                            }
                        }
                    }
                }

                .sold-by {
                    a {
                        font-size: 16px;
                        text-transform: uppercase;
                        font-weight: 600;
                        color: #09c;

                        &:hover {
                            text-transform: uppercase;
                        }
                    }
                }

                .product-stock-status {
                    font-size: 14px;
                    color: #000;
                    margin-bottom: 0;
                    padding-left: 18px;

                    &.in_stock span {
                        font-weight: 600;
                        color: #8bc500;
                    }

                    &.out-of-stock span {
                        font-weight: 600;
                        color: red;
                    }
                }

                .product-detail-variable {
                    .product-stock-status {
                        padding-left: 0px;
                    }
                }

                .product-other {
                    font-weight: 400;

                    .label {
                        color: #000;
                    }

                    span {
                        color: #999;
                    }

                    .item-categories {
                        a {
                            color: #09c;
                        }
                    }

                    .item-report {
                        a {
                            color: #000;
                            text-decoration: underline;
                        }

                    }

                    .item-tags {
                        a {
                            color: #999;

                            &:hover {
                                color: #000;
                            }
                        }
                    }

                    .social-links{
                        margin-top: 15px;
                        a{
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            color: #fff;
                            background-color: #1b4e9b;
                            margin: 0 5px;
                            display: inline-block;
                            text-align: center;
                            font-size: 20px;
                            vertical-align: top;
                            &.share-twitter{
                                background-color: #00aeef;
                            }
                            &.share-google-plus{
                                background-color: #cc0000;
                            }
                            &.share-linkedin{
                                background-color: #0077b5;
                            }
                            &.share-vkontakte{
                                background-color: #4c75a3;
                            }
                            &.share-pinterest{
                                background-color: #c8232c;
                            }
                        }
                    }
                }

                .social-links{
                    >a{
                        margin: 0!important;
                        &:not(:last-child){
                            margin-right: 5px!important;
                        }
                    }
                }
            }
        }

        .product-tabs {
            .nav-tabs {
                text-align: center;
                margin-bottom: 50px;
                padding: 0;
                border-bottom: 1px solid #e1e1e1;
                position: relative;
                font-size: 20px;

                li {
                    display: inline-block;
                    position: relative;
                    -webkit-border-radius: 0;
                    border-radius: 0;
                    margin: 0;
                    padding: 0;
                    border: none;
                    background: #fff;
                    z-index: 2;
                    transition: all 0.3s;

                    a {
                        display: inline-block;
                        padding: 0 20px 15px;
                        font-weight: 600;
                        font-size: 20px;
                        color: #999;
                        -webkit-transition: .5s;
                        transition: .5s;
                        line-height: 1;
                        border: 0;
                        text-transform: capitalize;
                        border-bottom: 3px solid #fff;
                        &:hover{
                            border-bottom: 3px solid #fcb800;
                        }
                        &.active {
                            color: #000;
                            text-shadow: inherit;
                            border-bottom: 3px solid #fcb800;
                        }
                    }
                }
            }

            .product-content {
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
    .col-product-sidebar{
        max-width: 19%;
        @media (max-width: 1024px){
            max-width: inherit;
        }
        @media (max-width: 768px){
            display: none;
        }
    }
    .product-tabs{
        .tab-content{
            .wcmp-product-policies{
                .wcmp_policies_heading{
                    font-weight: 600;
                    font-size: 24px;
                }
                .wcmp_policies_description{
                    margin-bottom: 25px;
                }
            }
        }
        .tabs-panel{
            .shop_attributes{
                border: 1px solid #e1e1e1;
                border-bottom: none;
                width: 100%;
                tbody{
                    tr{
                        th{
                            width: 150px;
                            background-color: #f4f4f4;
                            border-bottom: 1px solid #e1e1e1;
                            border-right: 1px solid #e1e1e1;
                            font-weight: 500;
                            text-transform: none;
                            color: #000;
                            margin: 0;
                            line-height: 1.5;
                        }
                        td{
                            background-color: transparent;
                            border-bottom: 1px solid #e1e1e1;
                            font-style: normal;
                            color: #000;
                            padding: 5px 20px;
                            p{
                                margin: 0;
                                padding: 8px 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .product-detail-add-to-cart{
        .service-wishlist{
            &.loading{
                .icon-heart{
                    visibility: hidden;
                }
                &:after{
                    top: 16px;
                }
            }
        }
    }
}

.product-related {
    .box-title{
        text-align: left;
        border-bottom: 1px solid #e3e3e3;
        font-size: 20px;
        font-weight: 600;
        padding: 15px 0;
        margin: 0 0 50px;
    }
}

.bravo_compare_box{
    display: none;
    z-index: 100;
    position: relative;
    &.active{
        display: block;
    }
    .compare_overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.9);
        z-index: 10;
    }
    .compare_close{
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 10;
        border: none;
        background: transparent;
        color: white;
        font-size: 23px;
        &:focus{
            outline: none;
        }
    }
    .compare_content{
        position: fixed;
        background: white;
        top: 5%;
        left: 5%;
        right: 5%;
        bottom: 5%;
        z-index: 10;
        padding: 0 10px;
        overflow: auto;
        .compare-title{
            font-size: 24px;
            color: #000;
            font-weight: 600;
            text-align: center;
        }
        .compare-list{
            width: 100%;
            th, td{
                padding: 20px;
            }
            tbody{
                tr{
                    th{
                        background: #f4f4f4;
                        color: #000;
                        font-weight: 600;
                        text-align: center;
                    }
                    &.remove, &.image, &.title, &.price{
                        th{
                            border-bottom: none;
                        }
                    }
                    &.image, &.title, &.price{
                        td{
                            border-bottom: none;
                        }
                    }
                    &.title, &.price{
                        th,td{
                            padding: 8px 20px;
                        }
                    }
                    &.price{
                        td{
                            .price {
                                margin: 0;
                                font-size: 16px;
                                ins{
                                    text-decoration: none;
                                }
                                &.has-sale{
                                    ins{
                                        color: #ff3300;
                                        font-weight: 600;
                                    }
                                    del{
                                        font-size: 14px;
                                        color: #999;
                                    }
                                }
                            }
                        }
                    }
                    &.remove{
                        td{
                            padding: 10px 20px;
                            a{
                                color: #555;
                                position: relative;
                                &.loading{
                                    span{
                                        visibility: hidden;
                                    }
                                    &:after{
                                        top: 1px;
                                        left: 36%;
                                    }
                                }
                            }
                        }
                    }
                    &.image{
                        .image-wrap{
                            img{
                                max-width: 164px;
                                padding: 5px;
                            }
                        }
                    }
                    &.add-to-cart{
                        .btn-add-to-cart{
                            cursor: pointer;
                            padding: 0 25px;
                            height: 40px;
                            line-height: 40px;
                            background-color: #88aa00;
                            -webkit-transition: all 0.5s;
                            transition: all 0.5s;
                            color: #fff;
                            font-size: 16px;
                            font-weight: 600;
                            text-align: center;
                            border: none;
                            -webkit-border-radius: 5px;
                            border-radius: 5px;
                            display: block;
                            text-decoration: none;
                        }
                    }
                    &.description{
                        ul{
                            list-style-type: disc;
                        }
                    }
                    &.stock{
                        td{
                            span{
                                color: #b0d95e;
                            }
                        }
                    }
                }
            }
        }
    }
}
.col-product-sidebar{
    .col-product-sidebar-item {
        .sidebar-item-title {
            background-color: #f4f4f4;
            padding-left: 20px;
            padding-right: 15px;
            padding-top: 12px;
            border-bottom: 1px solid #e1e1e1;
            padding-bottom: 12px;
        }
    }
}
