.wishList-page{
    .entry-title{
        @media (max-width: 767px){
            font-size: 24px;
        }
    }
    .wishlist-message{
        padding: 1em 2em 1em 3.5em;
        margin: 0 0 2em;
        position: relative;
        background-color: #f7f6f7;
        color: #515151;
        border-top: 3px solid #8fae1b;
        list-style: none outside;
        width: auto;
        word-wrap: break-word;
        display: none;
        &:before{
            font-family: FontAwesome, "sans-serif";
            content: "\f058";
            display: inline-block;
            position: absolute;
            top: 1em;
            left: 1.5em;
            color: #8fae1b;
        }
    }
    .site-content{
        padding: 90px 0;
        @media (max-width: 767px) {
            padding: 40px 0;
        }
        table{
            a.remove{
                display: block;
                font-size: 1.5em;
                height: 1em;
                width: 1em;
                text-align: center;
                line-height: 1;
                border-radius: 100%;
                color: red!important;
                text-decoration: none;
                font-weight: 700;
                border: 0;
            }
            &.wishlist_table{
                font-size: 100%;
                opacity: 1 !important;
                margin-bottom: 80px;
                &.cart{
                    a.remove{
                        color: #c3c3c3;
                        margin: 0 auto;
                    }
                }
                thead{
                    @media (max-width: 767px){
                        display: none;
                    }
                    th{
                        border-color: #e7e7e7;
                    }
                }
                td, tr td{
                    padding-top: 40px;
                    padding-bottom: 30px;
                    text-align: left;
                    font-size: 16px;
                }
                tr{
                    position: relative;
                    th{
                        &.product-remove{
                            vertical-align: middle;
                            width: 40px;
                        }
                        &.product-thumbnail{
                            width: 80px;
                        }
                        &.product-price{
                            color: #000;
                        }
                    }
                    td{
                        &.product-remove{
                            vertical-align: middle;
                            padding-bottom: 30px;
                            width: 70px;
                            padding-left: 0;
                            .remove{
                                color: #999 !important;
                                background-color: transparent;
                                position: relative;
                                font-size: 0;
                                &:after{
                                    content: "\e935";
                                    display: inline-block;
                                    font: normal normal normal 14px/1 linearicons;
                                    font-size: 16px;
                                }
                            }
                        }
                        &.product-price{
                            width: 200px;
                            .price{
                                margin: 0;
                                color: #000;
                                font-size: 16px;
                                ins{
                                    text-decoration: none;
                                }
                                &.has-sale{
                                    ins{
                                        color: #cc0000;
                                        margin-right: 10px;
                                    }
                                    del{
                                        color: #999;
                                        font-size: 13px;
                                    }
                                    .sale{
                                        display: none;
                                    }
                                }
                            }
                        }
                        &.product-stock-status{
                            .wishlist-out-of-stock{
                                color: red;
                            }
                            .wishlist-in-stock{
                                color: #669900;
                            }
                        }
                        &.product-add-to-cart{
                            text-align: right;
                            padding-right: 0;
                            .button{
                                display: inline-block !important;
                                margin-bottom: 0;
                                height: 48px;
                                line-height: 48px;
                                border-radius: 3px;
                                padding: 0 25px !important;
                                white-space: nowrap;
                                background-color: #fcb800;
                                transition: all 0.5s;
                                color: #000;
                                font-size: 16px;
                                font-weight: 600;
                                text-align: center;
                                border: none;
                                i{
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
                tbody, thead{
                    td{
                        border-color: #e7e7e7;
                    }
                }
                thead{
                    td{
                        border-top: 1px solid;
                        padding: 16px 12px;
                    }
                }
                tbody td, tr td{
                    padding-top: 40px;
                    padding-bottom: 30px;
                    text-align: left;
                    font-size: 16px;
                }
                tbody{
                    @media (max-width: 767px){
                        tr{
                            display: block;
                            border-bottom: 1px solid #d6d6d6;
                            margin-bottom: 30px;
                            padding-bottom: 30px;
                        }
                        td{
                            display: block;
                            border: none!important;
                            padding: 0;
                            &:not(.product-thumbnail){
                                padding-left: 70px;
                                width: auto;
                            }
                            &.wishlist-empty{
                                padding-left: 0;
                            }
                            &.product-thumbnail{
                                float: left;
                                width: 60px;
                                height: 60px;
                                margin-right: 10px;
                            }
                            &.product-name{
                                font-weight: 600;
                            }
                            &.product-price, &.product-stock-status{
                                >*{
                                    display: inline-block !important;
                                }
                                &:before{
                                    content: attr(data-table);
                                    color: #666;
                                    font-size: 14px;
                                }
                            }
                            &.product-remove{
                                position: absolute;
                                padding: 0;
                                right: 15px;
                                top: 4px;
                            }
                            &.product-add-to-cart{
                                text-align: left;
                                .button{
                                    padding: 0 13px!important;
                                }
                            }
                        }
                    }
                }
            }
            &.shop_table{
                border: none;
                margin: 0 -1px 24px 0;
                text-align: left;
                width: 100%;
                border-collapse: separate;
                border-radius: 5px;
                tr td, tbody td{
                    border: none;
                    color: #000;
                    vertical-align: top;
                    border-bottom: 1px solid #d6d6d6;
                }
                th{
                    font-weight: 700;
                    padding: 9px 12px;
                    line-height: 1.5em;
                }
                td{
                    border-top: 1px solid rgba(0,0,0,.1);
                    padding: 9px 12px;
                    vertical-align: middle;
                    line-height: 1.5em;
                }
                tr{
                    th{
                        border: none;
                        color: #000;
                        border-bottom: 1px solid #e1e1e1;
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;
                        background-color: #f2f2f2;
                    }
                }
            }

        }
    }
}
