@import "helper";
@import "form";
@import "login_register";
@import "custom_daterangepicker";
@import "adminbar";
@import "inbox";
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.container {
    .container{
        padding: 0px
    }
}
