:root {
    --primary-color: #dc0021;
}
body {
    font-family: "Roboto", sans-serif !important;
}
.full-width .ubermenu-nav,
.container,
.row {
    max-width: 1170px;
    /*padding-left: 0px !important;
    padding-right: 0px !important;*/
}
#content .col{
    max-width: auto;
}
.row.row-collapse {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.row.row-small {
    max-width: 1162.5px
}

.row.row-large {
    max-width: 1200px
}

.sticky-add-to-cart--active,
#wrapper,
#main,
#main.dark {
    background-color: #f3f5f7
}

.header-main {
    height: 80px;
    background: #FFF;
}

#logo img {
    max-height: 80px
}

#logo {
    width: 203px;
}

#logo img {
    padding: 10px 0;
}

.header-bottom {
    min-height: 44px
}

.header-top {
    min-height: 30px
}

.has-transparent+.page-title:first-of-type,
.has-transparent+#main>.page-title,
.has-transparent+#main>div>.page-title,
.has-transparent+#main .page-header-wrapper:first-of-type .page-title {
    padding-top: 160px;
}

.header.show-on-scroll,
.stuck .header-main {
    height: 70px!important
}

.stuck #logo img {
    max-height: 70px!important
}

.header-main .search-form {
    width: 60%;
}

.header-bg-color,
.header-wrapper {
    background-color: #db2126;
}

.header-bottom {
    background-color: #a90019;
}

.header-main .nav>li>a {
    line-height: 15px
}

.header-bottom-nav>li>a {
    line-height: 44px
}

@media (max-width: 549px) {
    .header-main {
        height: 70px
    }
    #logo img {
        max-height: 70px
    }
    .header-search-form .searchform .ux-search-submit{
        border-radius: 0px 4px 4px 0px;
    }
    .header-search-form .searchform .ux-search-submit i{
        color: #dc0021;
    }
    #content .container{
        padding-right: 10px;
        padding-left: 10px;
    }
    #footer .footer-widgets .container >.row{
        display: inline-block;
    }
    #custom_html-2{
        display: inline-block;
    }
    #footer .medium-flex-wrap{
        flex-direction: column !important;
    }
}

.nav-dropdown-has-arrow li.has-dropdown:before {
    border-bottom-color: #ffffff;
}

.nav .nav-dropdown {
    border-color: #ffffff
}

.nav-dropdown {
    font-size: 100%
}

.header-top {
    background-color: #a51f27!important;
}


/* Color */

.accordion-title.active,
.has-icon-bg .icon .icon-inner,
.logo a,
.primary.is-underline,
.primary.is-link,
.badge-outline .badge-inner,
.nav-outline>li.active>a,
.nav-outline>li.active>a,
.cart-icon strong,
[data-color='primary'],
.is-outline.primary {
    color: #dc0021;
}


/* Color !important */

[data-text-color="primary"] {
    color: #dc0021!important;
}


/* Background Color */

[data-text-bg="primary"] {
    background-color: #dc0021;
}


/* Background */

.scroll-to-bullets a,
.featured-title,
.label-new.menu-item>a:after,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
button[type="submit"],
.button.wc-forward:not(.checkout):not(.checkout-button),
.button.submit-button,
.button.primary:not(.is-outline),
.featured-table .title,
.is-outline:hover,
.has-icon:hover .icon-label,
.nav-dropdown-bold .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold>li>a:hover,
.nav-dropdown-bold.dark .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold.dark>li>a:hover,
.is-outline:hover,
.tagcloud a:hover,
.grid-tools a,
input[type='submit']:not(.is-form),
.box-badge:hover .box-text,
input.button.alt,
.nav-box>li>a:hover,
.nav-box>li.active>a,
.nav-pills>li.active>a,
.current-dropdown .cart-icon strong,
.cart-icon:hover strong,
.nav-line-bottom>li>a:before,
.nav-line-grow>li>a:before,
.nav-line>li>a:before,
.banner,
.header-top,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover,
.button.primary:not(.is-outline),
input[type='submit'].primary,
input[type='submit'].primary,
input[type='reset'].button,
input[type='button'].primary,
.badge-inner {
    background-color: #dc0021;
}


/* Border */

.nav-vertical.nav-tabs>li.active>a,
.scroll-to-bullets a.active,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
.accordion-title.active,
.featured-table,
.is-outline:hover,
.tagcloud a:hover,
blockquote,
.has-border,
.cart-icon strong:after,
.cart-icon strong,
.blockUI:before,
.processing:before,
.loading-spin,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover {
    border-color: #dc0021
}

.nav-tabs>li.active>a {
    border-top-color: #dc0021
}

.widget_shopping_cart_content .blockUI.blockOverlay:before {
    border-left-color: #dc0021
}

.woocommerce-checkout-review-order .blockUI.blockOverlay:before {
    border-left-color: #dc0021
}


/* Fill */

.slider .flickity-prev-next-button:hover svg,
.slider .flickity-prev-next-button:hover .arrow {
    fill: #dc0021;
}


/* Background Color */

[data-icon-label]:after,
.secondary.is-underline:hover,
.secondary.is-outline:hover,
.icon-label,
.button.secondary:not(.is-outline),
.button.alt:not(.is-outline),
.badge-inner.on-sale,
.button.checkout,
.single_add_to_cart_button,
.current .breadcrumb-step {
    /*background-color: #8cc33f;*/
    background-color: #dc0021;
}

[data-text-bg="secondary"] {
    background-color: #ffe300;
}


/* Color */

.secondary.is-underline,
.secondary.is-link,
.secondary.is-outline,
.stars a.active,
.star-rating:before,
.woocommerce-page .star-rating:before,
.star-rating span:before,
.color-secondary {
    color: #ffe300
}


/* Color !important */

[data-text-color="secondary"] {
    color: #ffe300!important;
}


/* Border */

.secondary.is-outline:hover {
    border-color: #ffe300
}

.alert.is-underline:hover,
.alert.is-outline:hover,
.alert {
    background-color: #fbbf09
}

.alert.is-link,
.alert.is-outline,
.color-alert {
    color: #fbbf09;
}


/* Color !important */

[data-text-color="alert"] {
    color: #fbbf09!important;
}


/* Background Color */

[data-text-bg="alert"] {
    background-color: #fbbf09;
}

body {
    font-size: 100%;
}

@media screen and (max-width: 549px) {
    body {
        font-size: 100%;
    }
}

body {
    font-family: "Roboto", sans-serif
}

body {
    font-weight: 0
}

body {
    color: #0a0a0a
}

.nav>li>a {
    font-family: "Roboto", sans-serif;
}

.mobile-sidebar-levels-2 .nav>li>ul>li>a {
    font-family: "Roboto", sans-serif;
}

.nav>li>a {
    font-weight: 500;
}

.mobile-sidebar-levels-2 .nav>li>ul>li>a {
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.off-canvas-center .nav-sidebar.nav-vertical>li>a {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.banner h1,
.banner h2 {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {
    color: #0a0a0a;
}

.breadcrumbs {
    text-transform: none;
}

button,
.button {
    text-transform: none;
}

.nav>li>a,
.links>li>a {
    text-transform: none;
}

.section-title span {
    text-transform: none;
}

h3.widget-title,
span.widget-title {
    text-transform: none;
}

.alt-font {
    font-family: "Roboto", sans-serif;
}

.alt-font {
    font-weight: 0!important;
}

.header:not(.transparent) .header-bottom-nav.nav>li>a {
    color: #FFF;
}

body a {
    color: #0a0a0a;
}

body a:hover {
    color: #dc0021;
    text-decoration: none !important;
}

.tagcloud a:hover {
    border-color: #dc0021;
    background-color: #dc0021;
}

.is-divider {
    background-color: rgba(255, 255, 255, 0);
}

.current .breadcrumb-step,
[data-icon-label]:after,
.button#place_order,
.button.checkout,
.checkout-button,
.single_add_to_cart_button.button {
    background-color: #dc0021!important
}

.badge-inner.on-sale {
    background-color: #dc0021
}

.star-rating span:before,
.star-rating:before,
.woocommerce-page .star-rating:before,
.stars a:hover:after,
.stars a.active:after {
    color: #fba200
}

@media screen and (min-width: 550px) {
    .products .box-vertical .box-image {
        min-width: 300px!important;
        width: 300px!important;
    }
}

.footer-1 {
    background-color: #db2126;
}

.footer-2 {
    background-color: #a51f27
}
.color-white{
    color: #FFFFFF;
}
.absolute-footer,
html {
    background-color: #eaeced
}

.page-title-small+main .product-container>.row {
    padding-top: 0;
}

button[name='update_cart'] {
    display: none;
}

.label-new.menu-item>a:after {
    content: "New";
}

.label-hot.menu-item>a:after {
    content: "Hot";
}

.label-sale.menu-item>a:after {
    content: "Sale";
}

.label-popular.menu-item>a:after {
    content: "Popular";
}
.container .section, .row .section{
    padding-left: 0px;
    padding-right: 0px;
}
.tintuc .post-item .big-box{
    vertical-align: initial;
}
.duan-home-wrapper {
    padding: 20px 0px;
    background: url(/images/duan-bg.png) center center no-repeat;
    color: #FFF;
    background-size: cover;
}
.duan-home-wrapper .grid{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.duan-home-wrapper .title-cat-home {
    margin: 0px;
    padding: 0px;
    font-family: "exo-b";
    font-weight: normal;
    font-size: 30px;
    color: #545454;
    width: 100%;
    text-transform: uppercase;
}
.cat-home-intro {
    text-align: center;
    padding: 0px 50px;
}
.btn-next {
    left: -40px;
}
.btn-next, .btn-prev {
    position: absolute;
    top: 42%;
}
img {
    border: none;
    max-width: 100%;
}
.btn-prev {
    right: -40px;
}
.img-duan {
    transition: transform 1s;
}
.duan-home-name{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: normal;
    font-family: exo-m;
    text-align: center;
}
.duan-home-name a{
    color: #FFF;
}


.duan-home-active{
    opacity:0;
    transition: opacity 2s;
    position:absolute;
    bottom:0px;
    width: 100%;
}
.swiper-slide-active .duan-home-active{
    opacity:1;
}
.duan-group{
    padding: 15px; position:relative; min-height:420px;
}
.duan-home-group{
    position: relative;
}
.img-duan{
    transition: transform 1s;
}
.img-duan img{
    border: solid 2px #FFF;
}
.swiper-slide-active .img-duan{
    transform: scale(1.3);
    z-index: 999999;
    position: absolute;
}
.c30 {
    height: 30px;
}
.c20 {
    height: 20px;
}
.c10 {
    height: 10px;
}
.c, .c5, .c10, .c15, .c20, .c30, .c3, .c2, .c80 {
    clear: both;
}
.slider-brand .flickity-slider .ux-logo{
    max-width: 100%!important;
    width: 130px !important;
}
.footer-widgets .menu-item a:hover{
    color: #FFF;
    font-weight: bold;
}
.blog-wrapper .post-sidebar{
    padding: 0px 10px;
}
.single-post .entry-footer .footer-socials a{
    width: 45px;
    height: 45px;
    line-height: 47px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background-color: #1b4e9b;
    display: inline-block;
    margin: 0 6px;
    vertical-align: top;
}
.single-post .entry-footer .footer-socials .share-twitter{
    background-color: #00aeef;
}
.single-post .entry-footer .footer-socials .share-google-plus{
        background-color: #c00;
}
.single-post .entry-footer .footer-socials .share-linkedin{
    background-color: #0077b5;
}
.single-post .entry-footer .footer-socials .share-vkontakte {
    background-color: #4c75a3;
}
.single-post .entry-footer .footer-socials .share-pinterest {
    background-color: #c82228;
}
img.lazy.initial, img.lazy.loaded, img.lazy.error {
    opacity: 1;
}
img.lazy:not(.initial) {
    transition: opacity 1s;
}
img.loaded, img:not(.lazy) {
    height: auto;
}
img[data-src], img[data-srcset] {
    display: block;
    min-height: 1px;
}
img.lazy {
    opacity: 0;
}
img:not([src]) {
    visibility: hidden;
}
[v-cloak]{
    display: none;
}
.slider-brand .flickity-viewport{
    min-height: 55px;
}
.slider-banner .slick-arrow{
    display: none;
}
.user-list-action li{
    list-style-type: none;
}
.bravo-extra-menu li .u-right .dropdown-menu {
    min-width: 190px;
    padding: 0;
    /*left: -10px;*/
    transform: translate3d(-43px, 19px, 0px) !important;
}
.bravo-extra-menu li .u-right .dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
.bravo-extra-menu li .u-right .dropdown-menu li {
    padding: 0;
    margin: 0;
}
.bravo-extra-menu .account-item li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
}
.bravo-extra-menu li .u-right .dropdown-menu li a {
    font-size: 14px;
    display: block;
    padding: 10px;
}
.bravo-extra-menu .account-item li a {
    color: #000;
    text-decoration: none;
}
.bravo-extra-menu .account-item .login{
    color: #000;
}
.bravo-extra-menu .account-item .login:hover{
    color: #dc0021;
}
.bravo-extra-menu .account-item li a:hover{
    color: #dc0021;
}
.hotline-content a{
    color: #FFF;
}
.hotline-content a:hover{
    color: #FFF;
    font-weight: bold;
}
.bravo-filter-price{
    border-top: 1px solid #eee;
    padding: 17px 5px 10px 5px;
}
.bravo-filter-price-amount{
    padding: 10px 0px;
}
.tintuc .box-blog-post a{
    display: inline;
}
.mobile-sidebar #mega_menu{
    display: block;
}
.product .badge{
    width: auto;
    height: auto;
    padding: 5px;
}

/*.service-review .list-star .booking-item-rating-stars {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    width: 100%;*/
/*}*/
/*.service-review .list-star {*/
/*    display: inline-block;*/
/*    line-height: 13px;*/
/*    position: relative;*/
/*}*/
/*ul.products li.product.is_review .service-review {*/
/*    margin-bottom: 10px;*/
/*}*/
/*.service-review {*/
/*    margin-top: 5px;*/
/*    line-height: 14px;*/
/*}*/
/*.service-review .list-star .booking-item-rating-stars li {*/
/*    list-style: none;*/
/*    float: left;*/
/*    margin-right: 0px;*/
/*    margin-left:5px;*/
/*}*/
/*.service-review .list-star .booking-item-rating-stars li i {*/
/*    font-size: 15px;*/
/*    color: #ffdc00;*/
/*}*/
/*.service-review > * {*/
/*    vertical-align: middle;*/
/*}*/
/*.service-review .list-star .booking-item-rating-stars-active {*/
/*    position: absolute;*/
/*    width: 0;*/
/*    top: 0;*/
/*    left: 0;*/
/*    overflow: hidden;*/
/*}*/
/*.bravo_product-list.style-1 .products li {*/
/*    list-style: none;*/
/*}*/
.product .list-star li{
    margin-left: 5px;
}
.booking-item-rating-stars-active .booking-item-rating-stars{
    height:15px;
    overflow: hidden;
}
.product .service-review{
    padding-left:0px !important;
}
.mf-product-rating .review-form{
    padding: 10px 40px;
}
.bravo-reviews .comments{
    padding: 10px 40px;
}
