<template>
    <select>
    </select>
</template>
<script>

    import { abstractField } from "vue-form-generator";
import { type } from 'os';

    export default {
        mixins: [ abstractField ],
        data(){
            return {
                options:[],
                selectedText:'',   
                selectId : '',             
            }
        },
        created: function () {
            console.log("1233333", this.value);
        },
        mounted: function () {
            var vm = this;

            $(vm.$el).select2(vm.schema.select2);
             console.log("vm.value", vm.value);
            if(this.schema.pre_selected && vm.value){ 
                $.ajax({
                    method:'get',
                    url:this.schema.pre_selected,
                    data:{
                        selected:vm.value
                    },
                    dataType:'json',
                    success:function (json) {
                        if(vm.schema.select2.multiple){
                            if(typeof json.items !='undefined' && typeof json.items == 'object' && json.items.length){
                                for(var i = 0 ; i < json.items.length; i++){
                                    var newOption = new Option(json.items[i].text, json.items[i].id, true, true);
                                    $(vm.$el).append(newOption);
                                }
                                $(vm.$el).select2('val',this.value)
                                $(vm.$el).trigger('change');
                                
                            }
                            return;
                        }else{
                            var newOption = new Option(json.text, vm.value, false, false);
                            $(vm.$el).append(newOption).trigger('change');
                            console.log("22222");
                        }
                        //vm.selectedText = json.text;
                        

                    }

                })
            }else{
                   
            }
            $(vm.$el).on('change',function () { console.log("e",this.value);
                vm.value = $(this).val();
                //vm.$emit('input', this.value);                
            })
        },
        methods: {
            onChange() {
                var vm = this;
                if(this.schema.pre_selected && vm.value){ 
                    $.ajax({
                        method:'get',
                        url:this.schema.pre_selected,
                        data:{
                            selected:vm.value
                        },
                        dataType:'json',
                        success:function (json) {
                            if(vm.schema.select2.multiple){
                                if(typeof json.items !='undefined' && typeof json.items == 'object' && json.items.length){
                                    for(var i = 0 ; i < json.items.length; i++){
                                        var newOption = new Option(json.items[i].text, json.items[i].id, true, true);
                                        $(vm.$el).append(newOption);
                                    }
                                    $(vm.$el).select2('val',this.value)
                                    $(vm.$el).trigger('change');
                                    
                                }
                                return;
                            }
                        }

                    })
                }
            }
        },
        watch: {
            value(value) {    
                if ([...value].sort().join(",") !== [...$(this.$el).val()].sort().join(","))
                {
                    this.onChange();
                    this.selectId = value;
                    $(this.$el).val(value).trigger('change');
                }
                
                // update value
                // $(this.$el)
                //     .val(value)
                //     .trigger('change')
               
            },
            options: function (options) {
                // update options
                //$(this.$el).empty().select2({ data: options })
            }
        },
        destroyed: function () {
            $(this.$el).off().select2('destroy')
        }
    };
</script>
